# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

# we use maven!
/build.xml

# maven
/target

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

/world

# Mac filesystem dust
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

/src/main/resources/achievement
/src/main/resources/lang

factions-*.jar
mcore-*.jar
lib/craftbukkit-1.8.3-R0.1-SNAPSHOT.jar
lib/craftbukkit-1.8.4-R0.1-SNAPSHOT.jar
lib/craftbukkit-1.8.7-R0.1-SNAPSHOT.jar
lib/craftbukkit-1.7.10-R0.4-SNAPSHOT.jar